* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  outline: none;
}
html,
body {
  background-color: #f8f5f2;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
p {
  font-size: 2.4rem;
}
input,
select,
text-area {
  font-size: 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  border: none;
}
label span,
label {
  font-size: 1.8rem;
}
section.generate-password {
  padding: 83px 25px 100px;
  width: 100%;
  text-align: center;
  height: 100vh;
}
.generate-password-form {
  margin: 80px auto 10px;
  width: 100%;
  max-width: 610px;
  position: relative;
  z-index: 1;
}

.generate-password h1 {
  padding-bottom: 15px;
  line-height: 1.2;
}

.generate-password-form input#password {
  margin-bottom: 60px;
  width: 100%;
  height: 73px;
  background: #fffffe;
  border: 2px solid #232323;
  box-shadow: 0 5px 0 rgba(35, 35, 35, 1);
  border-radius: 5px;
  padding: 0 90px 0 20px;
}

.password-field {
  position: relative;
  height: 73px;
  margin-bottom: 60px;
}

.password-filters {
  position: absolute;
  top: 0;
  right: 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.password-filters button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.eye-open {
  position: absolute;
  z-index: 0;
}
.eye-close {
  z-index: 1;
}

.visibilty-hidden {
  visibility: hidden;
}

.checkbox {
  display: inline-flex;
  cursor: pointer;
  position: relative;
}

.checkbox > span {
  color: #232323;
  line-height: 25px;
  margin-left: 10px;
}

.checkbox > input[type="checkbox"] {
  height: 25px;
  width: 25px;
  border: 2px solid #232323;
  border-radius: 5px;
  transition-duration: 0.3s;
  background: #fffffe;
  cursor: pointer;
}

.checkbox > input:checked {
  background-color: #232323;
  color: #fffffe;
}
.checkbox > input:checked + span {
  font-weight: 600;
}
.checkbox > input:checked + span::before {
  content: "";
  background-image: url(../images/check.svg);
  display: block;
  text-align: center;
  color: #fffffe !important;
  position: absolute;
  width: 18px;
  height: 18px;
  background-position: center;
  background-size: cover;
  left: 4px;
  top: 4px;
}

.checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.length-container {
  width: 100%;
  margin-top: 35px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
p.password-character-count {
  font-size: 1.8rem;
}

p#password-count {
  font-size: 5rem;
  font-weight: 700;
  color: #078080;
}

.slidecontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.slider {
  -webkit-appearance: none;
  width: 60%;
  height: 10px;
  border-radius: 5px;
  background: #078080;
  outline: none;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #222525;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #222525;
  cursor: pointer;
}

button.generate-password {
  border-radius: 5px;
  color: #232323;
  font-weight: 700;
  font-size: 2.6rem;
  padding: 16px 38px;
  text-decoration: none;
  background: #078080;
  display: block;
  margin: auto;
  text-align: center;
  position: relative;
  box-shadow: 0 9px 0px #020826;
  cursor: pointer;
  overflow: hidden;
}
button.generate-password:active {
  box-shadow: 0 5px #020826;
  transform: translateY(4px);
}
.container-password-graphic {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 4rem;
  }
  p {
    font-size: 2rem;
  }
  section.generate-password {
    padding: 10% 8% 15%;
  }
  .generate-password-form {
    margin: 10% auto 5%;
  }
  .password-field {
    margin-bottom: 12%;
  }
  p#password-count {
    font-size: 3.5rem;
  }
  .length-container {
    margin-top: 45px;
    flex-direction: column;
    height: 85px;
  }
  .slidecontainer {
    width: 100%;
    justify-content: space-evenly;
  }
}

/* Extra small devices (phones, 414px and down) */
@media only screen and (max-width: 414px) {
  button.generate-password {
    font-size: 2rem;
    width: 100%;
  }
  .checkbox-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .checkbox {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 4.5rem;
  }
  p {
    font-size: 1.8rem;
  }
  .generate-password-form {
    margin: 50px auto 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
